html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  z-index: 9;
  margin: 0;
  font-family: "HeliosC", sans-serif;
  font-weight: 400;
  color: var(--color-dark);
  background-color: var(--color-grey);
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

svg path {
  fill: inherit;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none;
}

.error {
  border: 2px #ff4019 solid; // stylelint-disable-line declaration-no-important
}

.btn-reset {
  border: none;
  background: transparent;
  cursor: pointer;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 320px;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}
