:root {
  --color-black: #000;
  --color-white: #fff;
  --color-orange: #e9862a;
  --color-blue: #187cd3;
  --color-main-blue: #003264;
  --color-background: #e5e5e5;
  --color-gray: #c3c8c8;
  --color-dark: #242627;
  --color-subname: #828282;
  --color-grey: #f2f2f2;
}
