.header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  background-color: var(--color-white);

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    min-height: 70px;
    max-width: 280px;
  }

  &__logo {
    display: block;
    width: 115px;
    height: 25px;
  }

  .menu {
    opacity: 1;
    transition: opacity 0.5s ease;

    &__body {
      z-index: 12;
      background-color: var(--color-black);
    }

    &__list {
      display: flex;
      flex-direction: column;
      max-width: 280px;
    }

    &__item {
      position: relative;
      margin-top: 10px;

      &:not(:first-child) {
        margin-top: 39px;
      }
    }

    &__item-social {
      position: relative;
      color: transparent;
    }

    &__link {
      font-size: 16px;
      line-height: 1.25em;
      color: var(--color-white);
    }

    &__link-social {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px var(--color-gray) solid;
      width: 48px;
      height: 35px;
      font-size: 16px;

      &:first-child {
        .icon__menu {
          width: 0.93em;
        }
      }

      &:last-child {
        .icon__menu {
          width: 0.71em;
        }
      }

      &:nth-child(2),
      &:nth-child(3) {
        .icon__menu {
          width: 0.47em;
        }
      }
    }

    &__sub-item {
      display: flex;
      justify-content: space-between;
    }
  }

  .icon__logo {
    width: 115px;
    height: 25px;
  }

  .icon__menu {
    display: block;
    width: 100%;
    height: 100%;
    fill: #fff;
  }
}

.plus__slider,
.boss__service {
  display: none;
}

.btn-orange {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 56px;
  max-width: 223px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.19em;
  text-align: center;
  color: var(--color-white);
  background-color: var(--color-orange);
  cursor: pointer;
}

.main {
  min-height: 50vh;
  background: url("../../img/hero/hero-girls-mob.png") no-repeat;
  background-position: center bottom;
  background-color: var(--color-main-blue);

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  &__title {
    margin-top: 25px;
    margin-bottom: 0;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.18em;
    text-align: center;
    color: var(--color-white);
  }

  &__btn {
    margin: 148px auto 40px;
  }
}

.swiper {
  &-slide {
    display: flex;
    flex-direction: column;
  }

  &-pagination {
    display: block;
    margin-top: 50px;
  }

  &-pagination-bullet {
    width: 6px;
    height: 6px;
  }

  &-pagination-bullet-active {
    background: var(--color-orange);
  }

  &-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 12px;
  }
}

.boss {
  background-color: var(--color-white);

  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }

  &__container {
    padding: 10px 20px;
  }

  &__photo {
    margin: 10px auto;
    width: 190px;
    height: 221px;
    background: url("../../img/hero/finboss-mob.png") no-repeat;
    background-position: center bottom;
  }

  &__name {
    margin: 15px 0 5px;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.4em;
    text-align: center;
    color: var(--color-dark);
  }

  &__sub-title {
    font-size: 13px;
    line-height: 2.15em;
    text-align: center;
    color: var(--color-subname);
  }

  &__desc {
    margin-bottom: 55px;
    padding: 2px 5px 0;
    font-size: 13px;
    line-height: 1.7em;
    text-align: center;
    color: var(--color-dark);
  }
}

.video {
  position: relative;
  padding: 20px 0;
  width: 100%;

  &__section {
    position: relative;
    width: 100%;
    height: 207px;
  }

  &__play {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  &__play-btn {
    position: relative;
    border: 1px solid rgba(195, 200, 200, 0.36);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: transparent;

    &::after {
      content: "";
      position: absolute;
      left: 55%;
      top: 50%;
      border: 5px solid transparent;
      border-left: 6px solid var(--color-white);
      width: 10px;
      height: 10px;
      transform: translate(-50%, -55%);
    }
  }
}

.title {
  margin: 5px 0;
  font-weight: 400;
  font-size: 21px;
  line-height: 1.25em;
  text-align: center;
}

.item-title {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.75em;
  color: var(--color-dark);
}

.links {
  font-weight: 400;
  font-size: 13px;
  line-height: 1.23em;
  text-decoration: none;
  color: var(--color-blue);
}

.values {
  margin-top: 15px;
  background-color: var(--color-grey);

  &__wrapper {
    padding: 10px 10px 60px;
  }

  &__slider {
    margin-top: 15px;
  }

  &__item {
    &-title {
      margin: 0;
      padding: 40px 37px 8px 27px;
      font-weight: 400;
      font-size: 15px;
      line-height: 1.75em;
    }

    &-desc {
      margin: 0;
      padding: 10px 37px 35px 27px;
      font-weight: 400;
      font-size: 13px;
      line-height: 1.85em;
    }
  }

  .swiper-pagination {
    bottom: 25px;
    display: block;
  }
}

.vacancies {
  position: relative;
  z-index: 5;
  background-color: var(--color-white);

  &__radio-container {
    display: none;
  }

  &__container {
    padding: 31px 20px 23px;
  }

  &__title {
    margin: 11px 0 10px;
  }

  &__select-wrapper {
    position: relative;
    margin: 23px auto 0;
    padding: 10px 0;
    max-width: 274px;
  }

  &__select-trigger {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 18px;
    width: 100%;
    height: 56px;
    background-color: #f2f2f2;
    cursor: pointer;

    &::after {
      content: "";
      position: absolute;
      right: 15px;
      top: 27px;
      border: 2px solid transparent;
      border-top: 5px solid var(--color-subname);
      transform: rotate(0deg);
      transition: transform 0.3s;
    }
  }

  .select-active {
    padding-right: 10px;
  }

  .select-active,
  .vacancies__select-option {
    font-size: 14px;
    line-height: 1.21em;
    color: var(--color-subname);
  }

  &__select-options {
    position: absolute;
    left: -9999px;
    top: 5px;
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    opacity: 0;
    transition: top 0.3s, opacity 0.5s;
  }

  &__select-option {
    border-top: 1px solid var(--color-subname);
    padding: 10px 20px;

    &:hover,
    &:focus,
    &:active {
      background-color: #dfdfdf;
    }
  }
}

.select-open {
  left: 0;
  top: 65px;
  z-index: 5;
  opacity: 1;
}

.vacancy {
  &__wrapper {
    overflow: hidden;
    height: 412px;
    transition: height 1s;
  }

  &__img {
    display: none;
  }

  &__item {
    position: relative;
    border-top: 1px solid #e0e0e0;
    padding: 30px 50px 32px 0;

    &::before,
    &::after {
      content: "";
      position: absolute;
      right: 7.5%;
      width: 6px;
      height: 2px;
      background-color: var(--color-black);
    }

    &::before {
      top: 50%;
      transform: rotate(45deg) translate(-50%);
    }

    &::after {
      top: 50%;
      transform: rotate(-45deg) translate(-50%);
    }
  }

  &__salary {
    margin-top: 20px;
    font-size: 13px;
    line-height: 1.23em;
    color: var(--color-subname);
  }

  &__name {
    margin: 0;
    font-size: 16px;
    line-height: 1.25em;
  }

  &__btn {
    margin: 30px auto 0;
  }

  &-open {
    height: 100%;
  }
}

.students {
  display: none;
}

.popup {
  position: absolute;
  left: -9999px;
  top: -10px;
  z-index: 40;
  display: block;
  overflow-y: scroll;
  background-color: var(--color-white);
  opacity: 0;
  transition: top 0.3s, opacity 0.5s;

  &__container {
    padding: 20px;
  }

  &__close {
    display: flex;
    justify-content: flex-end;
  }

  &__close-btn {
    position: relative;
    right: 0;
    width: 36px;
    height: 36px;
    background-color: var(--color-orange);

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 40%;
      top: 50%;
      width: 9px;
      height: 1px;
      background-color: var(--color-white);
      transform: translate(-50%, -50%);
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  &__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.2em;
  }

  &__salary {
    margin-top: 27px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.25em;
  }

  &__main {
    margin-top: 29px;

    &-title {
      font-weight: 400;
      font-size: 18px;
      line-height: 1.33em;
      color: var(--color-dark);
    }
  }

  &__list {
    list-style-type: square;
    padding: 0 0 15px 14px;

    &-item {
      padding: 0 9px 0 8px;
      font-size: 12px;
      line-height: 1.6em;
      color: var(--color-dark);

      &:not(:first-child) {
        margin-top: 23px;
      }
    }

    &-feature {
      padding: 3px 2px;
      background-color: rgba(233, 134, 42, 0.17);
    }
  }

  &__desc {
    font-size: 11px;
    line-height: 2.2em;
    color: var(--color-gray);
  }

  &__btn {
    margin: 40px auto 0;
    max-width: 270px;
  }
}

.popup.popup__open {
  left: 0;
  top: 0;
  z-index: 20;
  overflow-y: scroll;
  opacity: 1;
}

.history {
  margin: 0;
  padding: 40px 0 20px;
  background-color: var(--color-white);

  &__title {
    font-weight: 400;
    font-size: 22px;
    line-height: 1.4em;
    color: var(--color-dark);
  }

  &__slider {
    margin-top: 40px;
  }

  &__slide {
    padding-bottom: 40px;
  }

  &__content {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 300px;
    box-shadow: 0 14px 24px rgba(15, 18, 20, 0.1);
    background-color: var(--color-white);

    &::after {
      content: "";
      position: absolute;
      bottom: -15px;
      z-index: 5;
      width: 256px;
      height: 15px;
      box-shadow: 0 14px 24px rgba(15, 18, 20, 0.1);
      background-color: rgba(255, 255, 255, 0.1);
    }
  }

  &__photo {
    margin-top: 23px;
    border-radius: 50px;
    width: 80px;
    height: 80px;
    background: url("../../img/history/history-mob.png") no-repeat;
    background-position: center;
  }

  &__name {
    margin-top: 30px;
    font-size: 20px;
    line-height: 1.4em;
    text-align: center;
    color: var(--color-dark);
  }

  &__role {
    margin-top: 3px;
    font-size: 13px;
    line-height: 2.15em;
    letter-spacing: 0.015em;
    text-align: center;
    color: var(--color-subname);
  }

  &__link {
    margin-top: 20px;
  }

  .swiper-pagination {
    bottom: 74px;
  }
}

.footer {
  padding: 20px 0 30px;
  color: var(--color-dark);
  background-color: #f7f7f7;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 10px 0;
    max-width: 280px;
  }

  &__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 280px;
  }

  &__title {
    margin: 22px 0 5px 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.215em;
    text-align: center;
  }

  &__telephone {
    margin: 10px 0 0 7px;
    font-size: 30px;
    line-height: 1.23em;
  }

  &__link {
    margin-top: 15px;
    font-size: 16px;
    line-height: 1.19em;
  }

  &__btn {
    margin: 30px 0 0;
  }

  &__socials {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    width: 223px;
  }

  &__social-link {
    border: 1px solid #e0e0e0;

    &:first-child {
      .footer__social-img {
        width: 25%;
      }
    }

    &:last-child {
      .footer__social-img {
        width: 15%;
      }
    }

    &:nth-child(2),
    &:nth-child(3) {
      .footer__social-img {
        width: 15%;
      }
    }
  }

  &__social-item {
    width: 48px;
    height: 35px;
  }

  &__social-img {
    display: block;
    margin: 0 auto;
    height: 100%;
    fill: var(--color-orange);
  }

  &__adress {
    margin-top: 50px;
    font-size: 11px;
    line-height: 1.35em;
    text-align: center;
    color: var(--color-subname);
  }

  &__politics {
    margin-top: 5px;
    font-size: 11px;
    line-height: 1.27em;
  }

  &__logo {
    margin-top: 13px;
    height: 16px;
    max-width: 68px;
  }
}
